{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
	<link href="{% static '/assets/images/ghumgham-ico.png' %}" rel="icon">
	<link href="{% static '/assets/images/ghumgham-ico.png' %}" rel="apple-touch-icon">
	<link rel="stylesheet" href="{% static '/assets/css/auth/auth.css' %}"/>
	<link rel="stylesheet" href="{% static '/assets/css/auth/otp.css' %}"/>
	<title>GhumGham Account Recovery</title>
</head>
<body>


<div class="container-otp">
	{% if not email %}
		<div class="" style=" display: flex; align-self: center; flex-direction: column; justify-content: center;
	min-width:300px; width: 80%; ">
			<form method="post" href="{% url 'otp-login' %}">
				{% csrf_token %}
				<h2 class="title" align="center">Forget Password</h2>
				<p class="body-text" align="center" style="font-size: large">Please provide a registered email to
					proceed</p>
				<br>
				<div class="input-field">
					<i></i>
					<input type="email" name="email" placeholder="Email" value="{{ email }} " style="min-width:
				100%"/>
				</div>
				<input type="submit" value="Continue" class="btn solid"/>
			</form>
		</div>
	{% elif email and enable %}
		<div class="" style=" display: flex; align-self: center; flex-direction: column; justify-content: center;
	min-width:300px; width: 80%; ">
			<form method="post" href="{% url 'otp-login' %}">
				{% csrf_token %}
				<h2 class="title" align="center">Forget Password</h2>
				<p class="body-text" align="center" style="font-size: large">Please provide a new password</p>
				<br>
				<div class="input-field"><i></i>
					<input type="password" name="password" placeholder="Password"/>
				</div>
				<div class="input-field"><i></i>
					<input type="password" name="confirm-password" placeholder="Confirm Password"/>
				</div>
				<input type="submit" value="Submit" class="btn solid"/>
			</form>
		</div>
	{% else %}
		<div class="">
			<h2 class="title" align="center">Forget Password</h2>
			<p class="body-text" align="center" style="font-size: large">Please check your gmail for an OTP code</p>
			<br>
			<form method="post" href="{% url 'otp-login' %}" class="digit-group" data-group-name="digits"
				  data-autosubmit="true"
				  autocomplete="off" style="flex-direction: row">
				{% csrf_token %}
				<input type="text" id="digit-1" name="digit-1" data-next="digit-2"/>
				<input type="text" id="digit-2" name="digit-2" data-next="digit-3" data-previous="digit-1"/>
				<input type="text" id="digit-3" name="digit-3" data-next="digit-4" data-previous="digit-2"/>
				<input type="text" id="digit-4" name="digit-4" data-next="digit-5" data-previous="digit-3"/>
				<input type="text" id="digit-5" name="digit-5" data-next="digit-6" data-previous="digit-4"/>
				<input type="text" id="digit-6" name="digit-6" data-previous="digit-5"/>
			</form>
		</div>
	{% endif %}
	<br>
	{% include './utils/_signup_messages.html' %}
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
		integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{% static '/assets/js/auth/otp.js' %}"></script>
</body>
</html>
