{% extends 'base/base.html' %}
{% load static %}
{% block title %}
	<title>GhumGham - Explore</title>
{% endblock %}
{% block head %}
	<link rel="stylesheet" href="{% static 'assets/css/searchbar.css' %}"/>
{% endblock head %}
{% block content %}
	<section class="hero d-flex align-items-center" id="hero" data-scroll-index="0">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="col-md-8">
					<div class="card-search p-4 mt-3">
						<h3 class=" mt-5 text-center text-white ">Search For Packages</h3>
						<div class="d-flex justify-content-center">
							<div class="search">
								<input type="text" class="search-input" placeholder="Quick Search..."
									   name="search">
								<a href="#" class="search-icon"> <i
										class="fa fa-search"></i> </a></div>
						</div>
						<div class="row mt-4 g-1 px-4 mb-5">
							<div class="col-md-3">
								<div class="card-inner p-3 d-flex flex-column align-items-center"><img
										src="https://i.imgur.com/YLsQrn3.png" width="50">
									<div class="text-center mg-text"><span class="mg-text">All</span></div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="card-inner p-3 d-flex flex-column align-items-center"><img
										src="https://i.imgur.com/Z7BJ8Po.png" width="50">
									<div class="text-center mg-text"><span class="mg-text">Short</span></div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="card-inner p-3 d-flex flex-column align-items-center"><img
										src="{% static 'assets/images/calendar.png' %}" width="50">
									<div class="text-center mg-text"><span class="mg-text">Long</span></div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="card-inner p-3 d-flex flex-column align-items-center"><img
										src="https://i.imgur.com/ueLEPGq.png" width="50">
									<div class="text-center mg-text"><span class="mg-text">Economy</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="statistics" data-scroll-index="1">
		<br>
		<div class="bg-white"><br></div>
		<br>
		<div class="section-title d-flex justify-content-center bg-white p-5">
			<h2 id="stats">Explore<span> Packages</span></h2>
		</div>

		<div class="container ">
			<div class="justify-content-center">
				<div class="d-flex flex-wrap justify-content-center mt-5 filter-button-group">
					<form action="#stats" href="#" method="get" class="m-2">
						<input class="hidden" hidden name="name_contains" value="all">
						<button type="submit" class="btn btn-hero start-btn m-2 " style="background: #86D458">All
						</button>
					</form>
					<form action="#stats" href="#" method="get" class="m-2">
						<input class="hidden" hidden name="name_contains" value="featured">
						<button type="submit" class="btn btn-hero start-btn m-2 " style="background:
						#86D458">Featured
						</button>
					</form>
					<form action="#stats" href="#" method="get" class="m-2">
						<input class="hidden" hidden name="name_contains" value="new">
						<button type="submit" class="btn btn-hero start-btn m-2 " style="background: #86D458">New
							Arrivals
						</button>
					</form>
				</div>

				<div class="collection-list row gx-0 gy-3 justify-content-center">
					<div class="collection-list p-5 row gx-3 gy-3 justify-content-center">
						{% for package in packages %}
							<div class="col-md-6 col-lg-4 col-xl-3 card">
								<div class="collection-img position-relative ">
									<img src="{% if package.image %}{{ package.image.url }}{% endif %}" class="w-100
								product-img"
										 alt="product">
									<span class="position-absolute  text-white d-flex align-items-center
                            justify-content-center animated-btn ">sale</span>
								</div>
								<div class="text-center">
									<p class="text-capitalize mt-3 mb-1">{{ package.name }}</p>
									<span class="fw-bold d-block">$ {{ package.price }} .00</span>
									<a href="#" class="btn mt-3 card-btn btn-primary">Book Now</a>
								</div>
							</div>
						{% empty %}
							<div class=" bg-white p-2 align-items-center justify-content-center">
								<H3>No Packages Available</H3></div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock content %}