{% extends './base/base.html' %}
{% load static %}
{% block title %}
	<title>GhumGham - Packages</title>
{% endblock title %}
{% block content %}

	<section class="hero d-flex align-items-center" id="hero" data-scroll-index="0">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-md-4 " align="center">
					<div class="card justify-content-center" style="height: 300px; background: rgba(255,255,255,
					0.6)">Image here
					</div>
				</div>
				<div class="col-md-8">
					<h2 class="h2 text-white">Package - Name</h2>
					<p class="lead text-white">
						Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
						the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
						of type and scrambled it to make a type specimen book. It has survived not only five centuries,
						but also the leap into electronic typesetting, remaining essentially unchanged.
					</p>
				</div>
			</div>
			<div align="right">
				<button href="#" class="btn btn-warning text-white px-5 py-3 font-weight-bold">Book Now</button>
			</div>

		</div>
	</section>

	<section class="statistics" id="stats" data-scroll-index="1">
		<br>
		<div class="bg-white"><br></div>
		<br>
		<div class="section-title d-flex justify-content-center bg-white p-5">
			<h2>Tour<span> Route</span> Details</h2>
		</div>
		<div class="container p-2 pb-3">
			<div>
				{% if m %}
					{{ m | safe }}
				{% else %}
					<div class="col-12 d-flex flex-column align-items-center">
						<br><br>
						<h4>NO MAP DATA</h4>
					</div>
				{% endif %}
			</div>
		</div>
		</div>
	</section>
{% endblock content %}