<section class="statistics section-padding" id="stats" data-scroll-index="1">
	<div class="container">
		<div class="row justify-content-center">

			<div class="col-lg-12 justify-content-center">
				<div class="section-title">
					<h2>Our<span> statistics</span></h2>
				</div>
				<div class="statistics-text">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. Lorem ipsum
						dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. </p>
					<div class="row justify-content-start">
						<div class="col-sm-3">
							<div class="statistics-item style-1">
								<h3 class="text-white " style="font-size:20pt">200</h3>
								<span>Service</span>

							</div>
						</div>
						<div class="col-sm-3">
							<div class="statistics-item style-2">
								<h3 class="text-white " style="font-size:20pt">200</h3>
								<span>Options</span>

							</div>
						</div>
						<div class="col-sm-3">
							<div class="statistics-item style-3">
								<h3 class="text-white " style="font-size:20pt">100</h3>
								<span>Price</span>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="statistics-item style-4">
								<h3 class="text-white " style="font-size:20pt">50</h3>
								<span>Quality</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>