.card {
    margin: 40px !important;
    padding: 20px !important;
    border: none !important;
    border-radius: 40px !important;
    max-width: 350px !important;
    min-width: 200px !important;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.10) 0 0 24px 0 !important;
    -webkit-box-shadow: rgba(0, 0, 0, 0.10) 0 0 24px 0 !important;
    -moz-box-shadow: rgba(0, 0, 0, 0.10) 0 0 24px 0 !important;
}

.collection-img span {
    top: 0 !important;
    right: 0 !important;
    width: 46px;
    height: 30px;
    border-radius: 10%;
    background-color: #F3C969 !important;
}

/* CARD AND FEAT (HOLDER)*/
.product-img {
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    border: 1px solid transparent;
}


