
.footer {
    background: #383841;
    padding-top: 50px;
    height: 100%;
    padding-bottom: 0;
    margin-bottom: 0;
}

.footer .content {
    padding-left: 2em;
}

.footer-widget {
    margin-bottom: 30px;
}



.footer-widget h3 {
    color: #f0efef;
    font-size: 16px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.footer-widget ul li {
    line-height: 36px;
    list-style: none;
}

.footer-widget ul li a {
    color: #bdb2b2;
    font-size: 14px;
}

.footer-widget ul li span {
    padding: 10px;
    color: #fff;
    font-size: 14px;
}

.footer-widget ul li a:hover {
    color: hsl(0, 0%, 100%);
}

#img {
    margin-top: 1em;
}

#dev-info {
    color: #bdb2b2;
    background-color: #24242c !important;
}

.footer-copyright-text {
    padding: 13px 0;
    margin-top: 3px;
    margin-right: 3.2em;
}

.footer-copyright-text img {
    float: left;
}

.btn-secondary {
    height: 45px;
    width: 250px !important;
    margin-top: 10px;
    background: #ff0000;
    border: rgb(0, 0, 0);
    padding: 3px 53px;
    font-weight: bold;

}

/* .fa.fa-arrow-up.btn-danger.btn-lg {
  float: Right;
} */

.footer-newsletter input[type="email"],
input[type="button"] {
    height: 45px;
    width: 250px !important;
    padding-left: 1em;
}


.footer-widget h3 {
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
    margin: 0 0 25px;
    text-transform: capitalize;
}

.footer-widget p {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 300;
    line-height: 26px;
    margin: 0;
}

.footer-widget ul {
    margin: 0;
    padding: 0;
}

.footer-widget ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-widget ul li span {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 300;
    /* display: block; */
    text-transform: capitalize;
    transition: all 0.5s ease;
    text-decoration: none;
}

.footer-widget ul li span:hover {
    padding-left: 5px;
}


@media (max-width: 575px) {
    .container {
        padding: 0 15px;
    }
}
