@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");


:root {
    --main-color: #EF476F;
    --secondary-color: #86D458;
    --tertiary-color: #B3E000;
    --secondary-dark-color: #a42b5e;
    --color-1: #EF476F;
    --color-2: #F3C969;
    --color-3: #09d69c;
    --color-4: #1b9cfc;
    --bg-dark: #383841;
    --main-to-dark-color: var(--secondary-color);
    --dark-to-main-color: var(--bg-dark);
    --shadow-black-100: 0 5px 15px rgba(0, 0, 0, 0.1);
    --shadow-black-300: 0 5px 15px rgba(0, 0, 0, 0.3);
    --black-900: #000000;
    --black-400: #555555;
    --black-100: #f7f7f7;
    --black-000: #ffffff;
    --black-alpha-100: rgba(0, 0, 0, 0.05);
}

html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;

}

body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    overflow-x: hidden;
    background-color: #ffffff;
    line-height: 1.5;
    margin: 0;
    padding: 0;

}

body.dark {
    background-color: var(--bg-dark);
    --black-100: var(--bg-dark);
    --black-000: var(--bg-dark);
    --main-to-dark-color: var(--bg-dark);
    --dark-to-main-color: var(--secondary-color);
    --shadow-black-100: var(--shadow-black-300);
    --black-alpha-100: rgba(255, 255, 255, 0.05);
    --black-900: #ffffff;
    --black-400: #bbbbbb;
}

* {
    margin: 0;
    padding: 0;
    outline: none !important;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

ul {
    list-style: none;
}

body::-webkit-scrollbar {
    width: 0.25rem !important;
}

body::-webkit-scrollbar-track {
    background: rgba(220, 220, 220, 0.9) !important;
}

body::-webkit-scrollbar-thumb {
    background: rgba(239, 71, 111, 0.9) !important;
    border-radius: 10px !important;
}

.notification {
    opacity: 0;
    right: 0;
    bottom: 0;
    margin: 20px;
    padding: 5px 10px 5px 10px;
    position: fixed;
    z-index: 1000;
    background: var(--main-color);
    border-radius: 10px;
    height: auto;
    animation: fromRight 1s ease-in 0.5s, pulse 1s ease-in-out 3 1.5s, fadeOut 6.5s ease-out;
    color: white;
}


.btn-primary {
    border-radius: 10px 10px 20px 20px !important;
    width: 100%;
    border: none !important;
    background-color: #F3C969 !important;
    color: #111 !important;
    font-weight: bold !important;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {

    background-color: var(--secondary-color) !important;
    color: #fff !important;
    font-weight: bold !important;

}


.btn-1 {
    background: var(--main-color);
    padding: 8px 30px;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 14px;
    text-transform: capitalize;
    transition: all 0.5s ease;
    box-shadow: var(--shadow-black-300);
    font-weight: 500;
}

.btn-1:focus {
    box-shadow: var(--shadow-black-300);
}

.btn-1:hover {
    color: #ffffff;
    background-color: var(--secondary-dark-color);
}

.btn-2 {
    background-color: var(--main-color);
    padding: 12px 30px;
    border: none;
    border-radius: 30px;
    color: #ffffff;
    font-size: 16px;
    text-transform: capitalize;
    transition: all 0.5s ease;
    box-shadow: var(--shadow-black-100);
    font-weight: 500;
}

.btn-2:focus {
    box-shadow: var(--shadow-black-100);
}

.btn-2:hover {
    color: var(--main-color);
    background-color: #ffffff;
}

.btn-3 {
    background-color: var(--main-color);
    padding: 12px 20px;
    border: none;
    border-radius: 30px;
    color: #ffffff;
    font-size: 20px;
    text-transform: capitalize;
    transition: all 0.5s ease;
    box-shadow: var(--shadow-black-100);
    font-weight: 500;
}

.btn-3:focus {
    box-shadow: var(--shadow-black-100);
}

.btn-3:hover {
    color: var(--main-color);
    background-color: #ffffff;
}

.btn-hero {
    background-color: var(--main-color);
    padding: 12px 30px;
    border: none;
    border-radius: 30px;
    color: #ffffff;
    font-size: 16px;
    text-transform: capitalize;
    transition: all 0.5s ease;
    box-shadow: var(--shadow-black-300);
    font-weight: 500;
}

.btn-hero:focus {
    box-shadow: var(--shadow-black-300);
}

.btn-hero:hover {
    color: #ffffff;
    background-color: var(--secondary-dark-color);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes bounce {
    0%,
    100% {
        transform: translateY(-30px);
    }
    50% {
        transform: translateY(0px);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 100%;
    }
    80% {
        opacity: 100%;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fromRight {
    0% {
        transform: translateX(500px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes pulse {
    0% {
        transform: scale(0.94);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 12px rgba(255, 255, 255, 0);
    }
    100% {
        transform: scale(0.94);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}

@keyframes zoomInOut {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.effect-wrap .effect {
    position: absolute;
    z-index: -1;
}

.effect-wrap .effect-1 {
    left: 25%;
    top: 15%;
    font-size: 20px;
    color: var(--color-2);
    animation: spin 5s linear infinite;
}

.effect-wrap .effect-2 {
    right: 5%;
    top: 20%;
    font-size: 25px;
    color: rgba(255, 255, 255, 0.5);
    animation: spin 7s linear infinite;
}

.effect-wrap .effect-3 {
    left: 2%;
    top: 64%;
    font-size: 25px;
    color: var(--secondary-dark-color);
    animation: bounce 3.67564s ease-in-out infinite;
}

.effect-wrap .effect-4 {
    left: 50%;
    top: 30%;
    font-size: 30px;
    color: var(--secondary-dark-color);
    animation: zoomInOut 2.689305s ease-out infinite;
}

.effect-wrap .effect-5 {
    left: 10%;
    top: 20%;
    font-size: 50px;
    color: rgba(255, 255, 255, 0.5);
    animation: zoomInOut 2.2325s ease-out infinite;
}

.effect-wrap .effect-6 {
    left: 85%;
    top: 60%;
    font-size: 100px;
    color: var(--secondary-dark-color);
    animation: zoomInOut 2.564653s ease-out infinite;
}

.section-padding {
    padding: 80px 0;
}

.section-title {
    margin-bottom: 60px;
}

.section-title h2 {
    font-size: 40px;
    color: var(--black-900);
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
    margin: 0;
}

.section-title h2 span {
    color: var(--main-color);
}

.owl-carousel .owl-dots {
    padding: 0 15px;
    text-align: center;
    margin-top: 20px;
}

.owl-carousel button.owl-dot {
    height: 6px;
    width: 24px;
    background-color: #dddddd;
    display: inline-block;
    margin: 0 4px;
    border-radius: 5px;
}

.owl-carousel button.owl-dot.active {
    background-color: var(--secondary-dark-color);
}

/*--------------------
Preloader
--------------------*/
.preloader {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 2100;
    background: var(--secondary-color);
    background-image: url("../images/pattern.png");
    animation: animate 20s linear infinite;
    display: flex;
    align-items: center;
    justify-content: center;
}

.preloader h5 {
    position: fixed;
    right: 100px;
    bottom: 100px;
    z-index: 2100;

}

.preloader div img {
    position: absolute;
}

.preloader div img:nth-child(2) {
    animation:  rotate 1s linear infinite;
}

.preloader div img:nth-child(3) {
    animation:  rotate 1s linear infinite;
}

.preloader div img:nth-child(1) {
    animation: rotate 10s linear infinite;
}

.preloader div {
    height: 200px;
    width: 200px;
    animation: bounce .8s ease-in-out infinite;
}


.preloader span {
    display: block;
    height: 60px;
    width: 60px;
    background-color: white;
    border-radius: 50%;
    animation: zoomInOut 1s ease infinite;
}

.animated-btn {
    border-radius: 50px !important;
    line-height: 5px !important;
    animation: pulse2 2s ease infinite;
}

.animated-btn-2 {
    background-color: transparent;
}

.animated-btn-2 i {
    color: var(--main-color) !important;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {

        transform: rotate(360deg);
    }
}

@keyframes bounce {
    0%,
    100% {
        transform: translateY(-30px);
    }
    50% {
        transform: translateY(0px);
    }
}


@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
    }
    70% {
        transform: scale(0.96);
        box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.0);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
    }
}

@keyframes pulse2 {
    0% {
        transform: scale(0.90);
        box-shadow: 0 0 0 0 rgba(243, 201, 105, 0.7);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 5px 10px rgba(243, 201, 105, 0.0);
    }
    100% {
        transform: scale(0.90);
        box-shadow: 0 0 0 0 rgba(243, 201, 105, 0.0);
    }
}

/*--------------------
Navbar
--------------------*/
.navbar {
    background-color: transparent;
    padding: 20px 0;
    transition: all 0.5s ease;

}

.navbar-dark .navbar-nav .nav-link {
    color: var(--black-100) !important;
    font-weight: bold !important;
    font-size: 1rem !important;
}

.navbar.navbar-shrink {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(to right bottom, var(--secondary-color), var(--tertiary-color));
    padding: 10px 0;
}

.navbar > .container {
    padding: 0 15px;
}

.navbar .navbar-brand {
    font-size: 30px;
    color: #ffffff;
    font-weight: 500;
    /* text-transform: capitalize; */
}

.navbar .nav-item {
    margin-right: 40px;
}

.navbar .nav-item .nav-link {
    color: #ffffff;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 300;
    padding: 15px;
    position: relative;
}

.navbar .nav-item .nav-link::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 2px;
    background-color: white;
    transition: all 0.5s ease;
    transform: scale(0);
}

.navbar .nav-item .nav-link.active::before,
.navbar .nav-item .nav-link:hover::before {
    transform: scale(1);
}

.navbar .nav-item .nav-link.active {
    font-weight: 600;
}

/*--------------------
Side Image Section
--------------------*/
.side-image {
    position: absolute;
    overflow-x: hidden;
    z-index: 2;
    top: 500px;
    right: 0;
    min-width: 200px;
    min-height: auto;
}

.side-image img {
    transform: translateX(50%);
}

.aim-img {
    margin: 0;
    padding: 0;
}


/*--------------------
Hero Section
--------------------*/
.hero {
    min-height: 100vh;
    padding: 90px 0;
    background-image: linear-gradient(to right bottom, var(--secondary-color), var(--tertiary-color));
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    overflow-x: hidden;
}

.hero .hero-text {
    transform: translateY(-100px);
}

.hero .hero-text img {
    margin: 0 0 30px;
}

.hero .hero-text h1 {
    font-size: 36px;
    font-weight: 700;
    color: var(--black-100);
    margin: 0 0 10px;
}

.nav-btn:hover {
    color: #e7e7e7 !important;
}

.hero .hero-btn {
    margin-top: 40px;
}

.hero .hero-btn .start-btn {
    background: #F3C969;
    animation: pulse 2s ease infinite;
}

.hero .hero-btn .start-btn:hover {
    animation: none;
    box-shadow: none;
    border: 5px solid rgba(255, 255, 255, 0.63);
    transition: ease-out 0.1s;
}

.hero .hero-btn .start-btn i {
    line-height: 50px;
}

.hero-text p {
    font-size: 18px;
    line-height: 28px;
    color: #ffffff;
    margin: 0;
    font-weight: 300;
}

.hero-img img {
    max-width: 400px;
    width: 70%;
    animation: bounce 3s ease infinite;
}

.hero-img {
    position: relative;
}


/*--------------------
Amenities Section
--------------------*/
.amenities {
    padding: 15px 0;
    text-align: center;
    background-color: var(--tertiary-color);
    font-size: 16px;
    font-weight: 700;
    color: var(--secondary-color);
    bottom: 0;
    width: 100%;
    position: absolute;
    z-index: 100;
}

@keyframes animate {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 0 1000px;
    }

}

.amenities .row i {
    width: 32px;
    height: 32px;
    padding: 0;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
    margin: 0 6px 0 0;
}

/*--------------------
Statistics Section
--------------------*/
.statistics {
    background-color: var(--black-100);
}

.statistics .section-title {
    margin-bottom: 20px;
}

.statistics .section-title h2 {
    text-align: left;
}

.statistics img {
    max-width: 600px;
    width: 100%;
    animation: spin 30s linear infinite;
}

.statistics-text {
    font-size: 16px;
    line-height: 26px;
    color: var(--black-400);
    margin: 0 0 15px;
    font-weight: 300;
}

.statistics-item {
    padding: 30px 30px;
    text-align: center;
    box-shadow: var(--shadow-black-100);
    border-radius: 100px;
    margin-top: 30px;
}

.statistics-item h3 {
    font-size: 40px;
    font-weight: 700;
    color: #ffffff;
    margin: 0 0 5px;
}

.statistics-item span {
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    font-weight: 300;
    margin: 0;
    display: block;
    color: #ffffff;
}

.statistics-item.style-1 {
    background-color: var(--color-1);
}

.statistics-item.style-2 {
    background-color: var(--color-2);
}

.statistics-item.style-3 {
    background-color: var(--color-3);
}

.statistics-item.style-4 {
    background-color: var(--color-4);
}


/*--------------------
How It Works Section
--------------------*/
.how-it-works-item {
    padding: 30px;
    text-align: center;
    position: relative;
    z-index: 1;
}

.how-it-works-item.line-right::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    left: 50%;
    top: 60px;
    background-color: var(--main-color);
    z-index: -1;
}

.how-it-works-item .step {
    display: inline-block;
    height: 60px;
    width: 60px;
    background-color: var(--main-color);
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    line-height: 60px;
    border-radius: 50%;
    color: #ffffff;
    margin: 0 0 15px;
}

.how-it-works-item h3 {
    margin: 20px 0;
    font-size: 22px;
    font-weight: 500;
    color: var(--black-900);
    text-transform: capitalize;
}

.how-it-works-item p {
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    color: var(--black-400);
    line-height: 26px;
}

/*--------------------
uploads
--------------------*/
.product {
    background-color: var(--black-100);
}

.product-item {
    margin: 15px;
    padding: 30px;
    box-shadow: var(--shadow-black-100);
    border-radius: 10px;
    text-align: center;
}

.product-item .img-box {
    height: 100px;
    width: 100px;
    display: inline-block;
    margin-bottom: 30px;
    border: 4px solid var(--main-color);
    border-radius: 50%;
    position: relative;
}

.product-item .img-box img {
    border-radius: 50%;
    width: 100%;
}

.product-item .img-box i {
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: var(--main-color);
    border-radius: 50%;
    color: #ffffff;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
    left: calc(100% - 15px);
    top: calc(50% - 15px);
}

.product-item p {
    font-size: 16px;
    margin: 0 0 20px;
    color: var(--black-400);
    line-height: 26px;
    font-weight: 300;
}

.product-item h3 {
    font-size: 18px;
    color: var(--black-900);
    font-weight: 500;
    margin: 0 0 5px;
    text-transform: capitalize;
}

.product-item span {
    display: block;
    font-size: 16px;
    color: var(--black-400);
    font-weight: 300;
}

.product-item .rating {
    margin-top: 10px;
}

.product-item .rating i {
    display: inline-block;
    font-size: 16px;
    color: var(--color-2);
}

.footer {
    background-color: var(--main-color);
    padding: 50px 0 0;
}

.footer-col h3 {
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
    margin: 0 0 25px;
    text-transform: capitalize;
}

.footer-col p {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 300;
    line-height: 26px;
    margin: 0;
}

.footer-col ul {
    margin: 0;
    padding: 0;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 300;
    display: block;
    text-transform: capitalize;
    transition: all 0.5s ease;
    text-decoration: none;
}

.footer-col ul li a:hover {
    padding-left: 5px;
}

.copyright-text {
    padding: 20px;
    text-align: center;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 300;
    background: #24242c;
}


.toggle-theme {
    background-color: var(--black-900);
    z-index: 1200;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: var(--shadow-black-300);
    color: #ffffff;
    font-size: 12px;
    text-align: center;
}

.toggle-theme i:hover {
    color: var(--black-900);
}

.toggle-theme i {
    line-height: normal;
    color: var(--black-100);

}


@media (max-width: 1025px) {
    .navbar .nav-item {
        margin-right: 30px;
    }

    .navbar .nav-item .nav-link {
        font-size: 14px;
    }
}

@media (max-width: 991px) {
    .pricing-plan,
    .how-it-works-item,
    .footer-col,
    .app-download-item {
        margin-bottom: 30px;
    }

    .how-it-works-item.line-right::before {
        content: none;
    }

    .how-it-works-item {
        box-shadow: var(--shadow-black-100);
        border-radius: 10px;
    }
}

@media (max-width: 767px) {
    .amenities {
        position: static;
    }

    .section-title h2 {
        font-size: 30px;
    }

    .statistics .section-title h2 {
        text-align: center;
        margin-top: 20px;
    }

    .amenities .row i {
        margin-bottom: 10px;
    }

    .side-image {
        top: 60%;

    }

}

@media (max-width: 575px) {
    .container {
        padding: 0 15px;
    }

    .navbar-collapse {
        background-color: var(--dark-to-main-color);
        box-shadow: var(--shadow-black-300);
        padding: 20px 20px;
    }

    .navbar .nav-item {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .hero .hero-text {
        text-align: center;
    }

    .hero .hero-text h1 {
        font-size: 22px;
        margin: 0 0 20px;
    }

    .hero .hero-text p {
        font-size: 14px;
        line-height: 20px;
    }

    .hero-img {
        padding: 20px 0;
    }

    .copyright-text > img {
        opacity: 0;
    }

    .side-image {
        top: 70%;

    }
}