.card {
    margin: 40px !important;
    padding: 15px !important;
    border: none !important;
    border-radius: 40px !important;
    max-width: 350px !important;
    min-width: 200px !important;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.10) 0 0 24px 0 !important;
    -webkit-box-shadow: rgba(0, 0, 0, 0.10) 0 0 24px 0 !important;
    -moz-box-shadow: rgba(0, 0, 0, 0.10) 0 0 24px 0 !important;
}

.card-lg {
    margin: 40px !important;
    padding: 15px !important;
    border: none !important;
    border-radius: 40px !important;
    max-width: 550px !important;
    min-width: 200px !important;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.10) 0 0 24px 0 !important;
    -webkit-box-shadow: rgba(0, 0, 0, 0.10) 0 0 24px 0 !important;
    -moz-box-shadow: rgba(0, 0, 0, 0.10) 0 0 24px 0 !important;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    word-wrap: break-word;
    background-clip: border-box;
}

.collection-img span {
    top: 20px !important;
    right: 20px !important;
    width: 46px;
    height: 30px;
    border-radius: 10%;
    background-color: #F3C969 !important;
}

/* CARD AND FEAT (HOLDER)*/
.product-img {
    height: 250px;
    object-fit: cover;
    border-radius: 25px 25px 10px 10px;
    border: none;
}


