<div class="row justify-content-center ">
	{% if p_admins.has_previous %}
		<a class="btn btn-outline-secondary btn-sm my-2 mr-2" href="?a_page=1#two">First</a>
		<a class="btn btn-outline-secondary btn-sm my-2 mr-2" href="?a_page
		={{ p_admins.previous_page_number}}#two">Previous</a>
	{% endif %}
	{% for num in p_admins.paginator.page_range %}
		{% if p_admins.number == num %}
			<a class="btn btn-success btn-sm my-2 mr-2 disabled" href="?a_page={{ num }}#two">{{ num }}</a>
		{% elif num > p_admins.number|add:'-3' and num < p_admins.number|add:'3' %}
			<a class="btn btn-outline-secondary btn-sm my-2 mr-2" href="?a_page={{ num }}#two">{{ num }}</a>
		{% endif %}
	{% endfor %}
	{% if p_admins.has_next %}
		<a class="btn btn-outline-secondary btn-sm my-2 mr-2" href="?a_page={{ p_admins.next_page_number}}#two">Next</a>
		<a class="btn btn-outline-secondary btn-sm my-2" href="?a_page={{ p_admins.paginator.num_pages }}#two">Last</a>
	{% endif %}
</div>