{% extends 'admin_layout.html' %}
{% load static %}
{% block title %}Admin Dashboard{% endblock title %}

{% block main %}
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <div class="container-fluid">
                    <div class="d-sm-flex justify-content-between align-items-center mb-4">
                        <h3 class="text-dark mb-0">Admin Dashboard</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-xl-3 mb-4">
                            <a href="/admins/bookingdata">
                                <div class="card shadow border-0 py-2">
                                    <div class="card-body">
                                        <div class="row align-items-center no-gutters">
                                            <div class="col me-2">
                                                <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span>Total Booking</span>
                                                </div>
                                                <div class="text-secondary fw-bold display-6 h5 mb-0">
                                                    <span> Booked: {{ booking }}</span></div>
                                            </div>
                                            <div class="col-auto"><i class="fas fa-ticket-alt fa-3x text-primary"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>


                        <div class="col-md-6 col-xl-3 mb-4">
                            <a href="/admins/showplace">
                                <div class="card shadow border-0 py-2">
                                    <div class="card-body">
                                        <div class="row align-items-center no-gutters">
                                            <div class="col me-2">
                                                <div class="text-uppercase text-warning fw-bold text-xs mb-1"><span>Total Destination</span>
                                                </div>
                                                <div class="text-secondary fw-bold display-6 h5 mb-0">
                                                    <span> Places: {{ place }}</span></div>
                                            </div>
                                            <div class="col-auto"><i class="fas fa-map-marker fa-3x text-warning"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-7 col-xl-8">
                            <div class="card mb-4 shadow border-0">
                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <h6 class="text-primary text-center fw-bold m-0">User Overview</h6>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="card">
                                                <div class="card-header d-flex justify-content-between align-items-center">
                                                    <h6 class="text-primary fw-bold m-0">Admin</h6>
                                                </div>
                                                <table class="table">
                                                    <thead>
                                                    <tr>
                                                        <th scope="col">Id</th>
                                                        <th scope="col">Username</th>
                                                        <th scope="col">Joined</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for iadmin in admin_info %}
                                                        <tr>
                                                            <th scope="row">{{ iadmin.id }}</th>
                                                            <td>@{{ iadmin.username }}</td>
                                                            <td>{{ iadmin.date_joined }}</td>
                                                        </tr>
                                                    {% endfor %}

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="card ">
                                                <div class="card-header d-flex justify-content-between align-items-center">
                                                    <h6 class="text-primary fw-bold m-0">Travellers</h6>
                                                </div>
                                                <table class="table">
                                                    <thead>
                                                    <tr>
                                                        <th scope="col">Id</th>
                                                        <th scope="col">Username</th>
                                                        <th scope="col">Joined</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for iuser in user_info %}
                                                        <tr>
                                                            <th scope="row">{{ iuser.id }}</th>
                                                            <td>@{{ iuser.username }}</td>
                                                            <td>{{ iuser.date_joined }}</td>
                                                        </tr>
                                                    {% endfor %}

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-xl-4">
                            <div class="card mb-4 shadow border-0">
                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <h6 class="text-primary fw-bold m-0">Total User overview</h6>
                                </div>
                                <div class="card-body">
                                    <div class="card  py-2" style="margin-bottom: 20px">
                                        <div class="card-body">
                                            <div class="row align-items-center no-gutters">
                                                <div class="col me-2">
                                                    <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span>Total Admins</span>
                                                    </div>
                                                    <div class="text-secondary fw-bold display-6 h5 mb-0">
                                                        <span> Active: {{ admin }}</span></div>
                                                </div>
                                                <div class="col-auto"><i class="fas fa-user-md fa-3x text-primary"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card py-2">
                                        <div class="card-body">
                                            <div class="row align-items-center no-gutters">
                                                <div class="col me-2">
                                                    <div class="text-uppercase text-danger fw-bold text-xs mb-1"><span>Total Travellers</span>
                                                    </div>
                                                    <div class="text-secondary fw-bold display-6 h5 mb-0">
                                                        <span> Total: {{ user }}</span></div>
                                                </div>
                                                <div class="col-auto"><i class="fas fa-users fa-3x text-danger"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center small mt-4"><span class="me-2"><i
                                            class="fas fa-circle text-primary"></i>&nbsp;Admins</span><span
                                            class="me-2"><i
                                            class="fas fa-circle text-danger"></i>&nbsp;Travellers</span><span
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>

    </div>

{% endblock main %}