{% extends "base/admin-base.html" %}
{% load static %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %} {% if ap %}
	<div class="content">
	<div class="panel-header bg-success-gradient">
		<div class="page-inner py-5">
			<div class="d-flex align-items-left align-items-md-center flex-column flex-md-row justify-content-between">
				<div>
					<h2 class="text-white pb-2 fw-bold">Dashboard</h2>
					<h5 class="text-white op-7 mb-2">GhumGham admin control panel</h5>
				</div>
				<div class="ml-md-auto py-2 py-md-0">
					<a href="{% url 'add-staff' %}" class="btn btn-white btn-border btn-round mr-2">Add Staff</a>
					<a href="{% url 'add-package' %}" class="btn btn-white btn-border btn-round ">Add Package</a>
				</div>
			</div>
		</div>
	</div>

	<div class="page-inner mt--5">
		<section id="zero">

			<div class="row mt--2">
				<div class="col-md-12">
					<div class="card full-height">
						<div class="card-body">
							<div class="card-title">Core statistics</div>
							<div class="card-category">Concise view of various perimeters</div>
							<div class="d-flex flex-wrap justify-content-around pb-2 pt-4">
								<div class="px-2 pb-2 pb-md-0 text-center">
									<div id="circles-1"></div>
									<h6 class="fw-bold mt-3 mb-0">Users</h6>
								</div>
								<div class="px-2 pb-2 pb-md-0 text-center">
									<div id="circles-2"></div>
									<h6 class="fw-bold mt-3 mb-0">Packages</h6>
								</div>
								<div class="px-2 pb-2 pb-md-0 text-center">
									<div id="circles-3"></div>
									<h6 class="fw-bold mt-3 mb-0">Admin</h6>
								</div>
								<div class="px-2 pb-2 pb-md-0 text-center">
									<div id="circles-4"></div>
									<h6 class="fw-bold mt-3 mb-0">Staff</h6>
								</div>
								<div class="px-2 pb-2 pb-md-0 text-center">
									<div id="circles-5"></div>
									<h6 class="fw-bold mt-3 mb-0">Customer</h6>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="one">
			<div class="row">
				<div class="col-md-8">
					<div class="card dashboard-card">
						<div class="card-header">
							<div class="card-head-row">
								<div class="col-md-8 card-title">Available Packages</div>
								<div class="col-md-4 input-group mb-1">
									<input id="packageSearch" type="text" placeholder="Search ..." class="form-control">
								</div>
							</div>
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table id="basic-datatables" class="table table-striped
								table-hover container-fluid dt-bootstrap4">
									<thead>
									<tr>
										<th>Id</th>
										<th>Name</th>
										<th>Type</th>
										<th>Featured</th>
										<th>Price</th>
									</tr>
									</thead>
									<tbody>
									{% for p in packages %}
										<tr>
											<td>{{ p.id }}</td>
											<td>{{ p.name.capitalize }}</td>
											<td>{{ p.type.capitalize }}</td>
											<td>{{ p.is_featured }}</td>
											<td>&dollar;{{ p.price }}</td>

										</tr>
									{% empty %}
									{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card dashboard-card">
						<div class="card-header">
							<div class="card-head-row">
								<div class="card-title">Activity Status</div>
								<div class="card-tools">
									<button class="btn btn-icon btn-link btn-primary btn-xs btn-refresh-card p-0
									my-2">
										<span class="fa fa-sync-alt"></span></button>
								</div>

							</div>
						</div>
						<div class="card-body">
							<div class="card-list" id="activity-log">
								{% for log in logs %}
									<div class="item-list">
										<div class="avatar">
											<img src="{% if log.user.customer.image.url %}
														{{ log.user.customer.image.url }}
														{% else %} {% static 'assets/images/user.png' %} {% endif %}"
												 style="height: 40px; width: 40px; object-fit: cover"
												 alt="..."
												 class="avatar-img rounded-circle">
										</div>
										<div class="info-user ml-3">
											<div class="username">{{ log.user.username.capitalize }}
												<span style="color: #555">{{ log }}.</span>
											</div>
											<div class="status">{{ log.getTime }}</div>
										</div>
										<form action="{% url 'delete-log' log.id %}" method="POST" class="delete-log">
											{% csrf_token %}
											<button class="btn btn-icon btn-danger btn-round btn-xs p-0">
												<i class="fa fa-trash"></i>
											</button>
										</form>

									</div>
								{% empty %}
									<div style="text-align: center">NO DATA</div>
								{% endfor %}

							</div>
						</div>
						<div class="card-footer">
							{% include 'includes/paginator/log_paginator.html' %}
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="two">
			<div class="row justify-content-center">
				<div class="col-md-4">
					<div class="card dashboard-card-sm">
						<div class="card-body">
							<div class="card-title fw-mediumbold">Admins</div>
							<div class="card-list">
								{% for admin in p_admins.object_list %}
									<div class="item-list">
										<div class="avatar">
											<img src="/static/assets/images/user.png" style="height: 40px; width: 40px;
										object-fit: cover" alt="..." class="avatar-img rounded-circle">
										</div>
										<div class="info-user ml-3">
											<div class="username">{{ admin.username.capitalize }}</div>
											<div class="status">{{ admin.created_date }}</div>
										</div>
										{% if not admin.is_ban %}
											<form method="POST" action="{% url 'ban-unban-user' admin.id %}"
												  class="ban-user">
												{% csrf_token %}
												<button class="btn btn-icon btn-warning btn-round btn-xs p-0 text-white">
													<i class="fa fa-gavel"></i>
												</button>
											</form>
										{% elif admin.is_ban %}
											<form method="POST" action="{% url 'ban-unban-user' admin.id %}"
												  class="unban-user">
												{% csrf_token %}
												<button class="btn btn-icon btn-success btn-round btn-xs p-0 text-white">
													<i class="fa fa-key"></i>
												</button>
											</form>
										{% endif %}
									</div>
								{% empty %}
									<div style="text-align: center">NO DATA</div>
								{% endfor %}
							</div>
						</div>
						<div class="card-footer">
							{% include 'includes/paginator/admin_paginator.html' %}
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card dashboard-card-sm">
						<div class="card-body">
							<div class="card-title fw-mediumbold">Customers</div>
							<div class="card-list">
								{% for customer in p_customers.object_list %}
									<div class="item-list">
										<div class="avatar">
											<img src="/static/assets/images/user.png" style="height: 40px; width: 40px;
										object-fit: cover" alt="..." class="avatar-img rounded-circle">
										</div>
										<div class="info-user ml-3">
											<div class="username">{{ customer.username.capitalize }}</div>
											<div class="status">{{ customer.created_date }}</div>
										</div>
										{% if not customer.is_ban %}
											<form method="POST" action="{% url 'ban-unban-user' customer.id %}"
												  class="ban-user">
												{% csrf_token %}
												<button class="btn btn-icon btn-warning btn-round btn-xs p-0 text-white">
													<i class="fa fa-gavel"></i>
												</button>
											</form>
										{% elif customer.is_ban %}
											<form method="POST" action="{% url 'ban-unban-user' customer.id %}"
												  class="unban-user">
												{% csrf_token %}
												<button class="btn btn-icon btn-success btn-round btn-xs p-0 text-white">
													<i class="fa fa-key"></i>
												</button>
											</form>
										{% endif %}

									</div>
								{% empty %}
									<div style="text-align: center">NO DATA</div>
								{% endfor %}
							</div>
						</div>
						<div class="card-footer">
							{% include 'includes/paginator/customer_paginator.html' %}
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card dashboard-card-sm">
						<div class="card-body">
							<div class="card-title fw-mediumbold">Packages</div>
							<div class="card-list">
								{% for package in p_packages.object_list %}
									<div class="item-list">
										<div class="avatar">
											<img src="/static/assets/images/user.png" style="height: 40px; width: 40px;
										object-fit: cover" alt="..." class="avatar-img rounded-circle">
										</div>
										<div class="info-user ml-3">
											<div class="username">{{ package.name.capitalize }}</div>
											<div class="status">{{ package.desc }}</div>
										</div>

										<button class="btn btn-icon btn-secondary btn-round btn-xs p-0 text-white">
											<i class="fa fa-star"></i>
										</button>
										<button class="btn btn-icon btn-warning btn-round btn-xs p-0 text-white"
												style="margin-left: 10px">
											<i class="fa fa-pen"></i>
										</button>
									</div>
								{% empty %}
									<div style="text-align: center">NO DATA</div>
								{% endfor %}
							</div>
						</div>
						<div class="card-footer">
							{% include 'includes/paginator/package_paginator.html' %}
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>

{% endif %}{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}


	<script>
        Circles.create({
            id: 'circles-1',
            radius: 45,
            value: {{user_count}},
            maxValue: {{user_count}},
            width: 10,
            text: {{user_count}},
            colors: ['#f1f1f1', '#FF9E27'],
            duration: 600,
            wrpClass: 'circles-wrp',
            textClass: 'circles-text',
            styleWrapper: true,
            styleText: true
        })

        Circles.create({
            id: 'circles-2',
            radius: 45,
            value: {{package_count}},
            maxValue: {{package_count_max}},
            width: 10,
            text: {{package_count}},
            colors: ['#f1f1f1', '#2BB930'],
            duration: 600,
            wrpClass: 'circles-wrp',
            textClass: 'circles-text',
            styleWrapper: true,
            styleText: true
        })

        Circles.create({
            id: 'circles-3',
            radius: 45,
            value: {{admin_count}},
            maxValue: {{user_count}},
            width: 10,
            text: {% if not admin_count %}"0"{% else %}{{ admin_count }}{% endif %},
            colors: ['#f1f1f1', '#F25961'],
            duration: 600,
            wrpClass: 'circles-wrp',
            textClass: 'circles-text',
            styleWrapper: true,
            styleText: true
        })

        Circles.create({
            id: 'circles-4',
            radius: 45,
            value: {{staff_count}},
            maxValue: {{user_count}},
            width: 10,
            text: {% if not staff_count %}"0"{% else %}{{ staff_count }}{% endif %},
            colors: ['#f1f1f1', '#177DFF'],
            duration: 600,
            wrpClass: 'circles-wrp',
            textClass: 'circles-text',
            styleWrapper: true,
            styleText: true
        })
        let table;
        $(document).ready(function () {
            table = $('#basic-datatables').DataTable({
                "bLengthChange": false,
                "bInfo": false,
                "bAutoWidth": false,
                "bSort": false,
				"pagingType": "simple",
				"pageLength": 4
            })

        });
        $('#packageSearch').keyup(function () {
            table.search($(this).val()).draw();
        })

        Circles.create({
            id: 'circles-5',
            radius: 45,
            value: {{customer_count}},
            maxValue: {{user_count }},
            width: 10,
            text: {{customer_count}},
            colors: ['#f1f1f1', '#ff9e27'],
            duration: 600,
            wrpClass: 'circles-wrp',
            textClass: 'circles-text',
            styleWrapper: true,
            styleText: true
        })

        $('.delete-log > button').on('click', function (e) {
            e.preventDefault();
            let form = $(this).parents('form');
            swal({
                title: "Are you sure?",
                text: "Once deleted, you will not be able to recover this log!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        form.submit();
                    } else {
                        swal("Cancelled", "The log is safe :)", {
                            icon: "info",
                        });
                    }
                });
        });

        $('.unban-user > button').on('click', function (e) {
            e.preventDefault();
            let form = $(this).parents('form');
            swal({
                title: "Unban this user?",
                text: "You can ban the user at anytime",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        form.submit();
                    } else {
                        swal("Cancelled", "Noting changed :)", {
                            icon: "info",
                        });
                    }
                });
        });

        $('.ban-user > button').on('click', function (e) {
            e.preventDefault();
            let form = $(this).parents('form');
            swal({
                title: "Ban this user?",
                text: "You can unban the user at anytime",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        form.submit();
                    } else {
                        swal("Cancelled", "Noting changed :)", {
                            icon: "info",
                        });
                    }
                });
        });

	</script>

{% endblock javascripts %}

</div>
